<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Geneza konkursu</h1>
    <blockquote>

        <ul>
        <li>Od kilkunastu lat w krajach Europy Zachodniej organizowany jest Międzynarodowy Konkurs
        Matematyczny <b><i>"Mathematiques sans frontieres"</i></b>
        mający charakter zawodów międzyklasowych.
        </li>
        <li>Pierwsza edycja tego konkursu została zorganizowana w roku 1989 między innymi przez
        Akademię w Strasburgu. Objęła ona 87 klas szkół francuskich. Konkurs bardzo szybko zyskał dużą popularność w krajach Europy Zachodniej. Okazało się, że już po siedmiu latach liczba uczestników wzrosła do 2 745 klas, przy czym udział w zawodach wzięło ponad 27 tysięcy uczniów w wieku od 15-17 lat pochodzących z ponad 20 krajów. W kolejnych latach obserwowano wzrost liczby uczestników.
        </li>
        <li>W XIV edycji Konkursu uczestniczyła młodzież z ponad 20 państw, w tym uczniowie z krajów Unii Europejskiej i  krajów ubiegających się o przyjęcie do UE oraz młodzież z USA, Meksyku i Kanady.  </li>
        <li>Od 1993 roku Polska była reprezentowana w Międzynarodowym Konkursie
        <b><i>"Mathematiques sans frontieres"</i></b>
        (na zasadzie eksperymentu) przez uczniów z rejonu Nowy Sącz.
        W roku 2001 patronat nad Międzynarodowym Konkursem
        <b><i>"Mathematiques sans frontieres"</i></b> na
        terenie Polski objęło Polskie Towarzystwo Matematyczne zaś prace związane z propagowaniem
        oraz organizowaniem tego konkursu na terenie kraju powierzono Sądeckiemu Oddziałowi Polskiego
        Towarzystwa Matematycznego (Sądeckiemu Oddziałowi PTM).
        Powołany (w październiku 2001) Polski Komitet Organizacyjny Międzynarodowego
        Konkursu
        <b><i>"Mathematiques sans frontieres"</i></b>
         (wspierany przez Komitet Organizacyjny Konkursu w
         Strasburgu oraz polskie władze oświatowe) rozpowszechnił ten konkurs, co przełożyło się na szybki wzrost liczby polskich uczestników konkursu. Otóż  już w 2001 roku w konkursie brało udział około 500 uczniów, w roku 2002 roku ponad 1 500 uczniów, a  rok później liczba ta wzrosła do ponad 10 000 uczniów. </li>
        <li>
        Do tej pory w konkursie uczestniczyli również uczniowie z Włoch, Szwajcarii, Niemiec,
        Wielkiej Brytanii, Belgii, Irlandii Północnej, Luksemburga, Hiszpanii, Danii, Finlandii,
        Austrii, Brazylii, Egiptu, Stanów Zjednoczonych, Kanady, Nigerii, Maroko, Tunezji. 
        </li>
        </ul>
         </blockquote>
</body>
</html>