<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Idee konkursu</h1>
    <blockquote>
        <p>Ideą Międzynarodowego Konkursu <i><b>"Matematyka bez granic"</b></i>
        jest otwarcie mentalnych granic pomiędzy:
        </p><ul>
        <li> krajami Unii Europejskiej oraz krajami z innych regionów świata,</li>
        <li> szkołami danego regionu, </li>
        <li>matematyką i językami obcymi, </li>
        <li> szkołami publicznymi i niepublicznymi, </li>
        <li>samymi uczniami. </li>
        </ul>
        <p></p> 
        
        <p>Konkurs ma na celu podniesienie:
        </p><ul>
        <li> zainteresowania uczniów matematyką, </li>
        <li> poziomu pracy w grupach, </li>
        <li> stopnia zaangażowania wszystkich uczestników grup w realizacji wspólnie ustalonego celu,</li> 
        <li> własnej inicjatywy i rozwijanie twórczej aktywności uczniów,, </li>
        <li> kształtowanie umiejętności pracy w grupach, </li>
        <li> stopnia opanowania języków obcych. </li>
        </ul>
        <p></p>
             </blockquote>
</body>
</html>