<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>Nagrody</h1>
  <blockquote>

    <ul>
    <li> W każdym regionie objętym konkursem przyznawane są dyplomy i nagrody dla zwycięskich
    zespołów klasowych (oddzielnie dla klas gimnazjalnych i ponadgimnazjalnych) ufundowane przez
     sponsorów. </li>
     
    <li> Uroczystość wręczania nagród i dyplomów odbywa się w obecności
    <ul type="square">
    <li type="circle">przedstawicieli uczniów wyróżnionych klas,</li>
    <li type="circle">nauczycieli matematyki,</li>
    <li type="circle">dyrektorów szkół,</li>
    <li type="circle">przedstawicieli Komitetu Regionalnego Konkursu,</li>
    <li type="circle">władz oświatowych i samorządowych,</li>
    <li type="circle">przedstawicieli prasy lokalnej i telewizji. </li>
    </ul>
    </li>
    
    
    </ul>
     </blockquote>
</body>
</html>