<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Specyfika zadań konkursowych</h1>
    <blockquote>

        <ul>
        <li>Tematyka zadań obejmuje różne działy matematyki i uwzględnia jej korelację z innymi
        przedmiotami nauczania szkolnego. </li>
        <li>Zadania nawiązują do konkretnych sytuacji życiowych i pokazują przykłady zastosowania matematyki w życiu codziennym.  </li>
        <li>Zadania o różnym stopniu trudności są adresowane do wszystkich uczestników konkursu.
        Odpowiadają one umiejętnościom i zainteresowaniom uczniów. </li>
        <li>Do rozwiązania niektórych zadań potrzebna jest odpowiednio rozwinięta wyobraźnia przestrzenna
        i sprawność manualna (konstruowanie, wycinanie, naklejanie różnych figur płaskich w celu
        tworzenia z nich nowych konfiguracji, budowanie modeli brył o zadanych własnościach, itp.). </li>
        <li>Każdy region uczestniczący w konkursie <i><b>"Matematyka bez granic"</b></i> 
        ma możliwość przedstawienia propozycji problemów matematycznych, które mogą być wybrane jako zadania konkursowe. W poprzednich edycjach konkursu były to przede wszystkim zadania przygotowane w krajach Europy Zachodniej.  </li>
        </ul>
        
         </blockquote>
</body>
</html>