<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Warunki udziału w konkursie</h1>
    <blockquote>

        <ul>
        <li>W konkursie mogą uczestniczyć tylko kompletne zespoły klasowe.</li>
        <li>Zgłaszanie udziału w konkursie następuje za zgodą wszystkich uczniów klasy w porozumieniu
        z nauczycielami matematyki i dyrektora szkoły.</li>
        <li>Do współzawodnictwa mogą stawać klasy ze szkół państwowych, społecznych i prywatnych. </li>
        <li>W konkursie mogą brać udział wszyscy uczniowie trzecich klas gimnazjalnych oraz
        pierwszych klas liceów lub techników. </li>
        
        </ul>
         </blockquote>
</body>
</html>