@import './base.css';

body, html, main, #app {
  height: 100%;
  scrollbar-width: none;
}
#app {
  display: flex;
  flex-direction: column;
  font-weight: normal;
}
a,
.green {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.4s;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}

h3{
  color: red;
}
input {
  padding: 1mm;
  float: right;
}
legend {
  width: 100%;
}
span[role = alert]{
  color: red;
  font-size: smaller;
}

@media (min-width: 600px) {
  .w-sm-0 {
    width: 0 !important;
  }
  .w-sm-1 {
    width: 1% !important;
  }
  .w-sm-6 {
    width: 6% !important;
  }
  .w-sm-10 {
    width: 10% !important;
  }
  .w-sm-13 {
    width: 13% !important;
  }
  .w-sm-15 {
    width: 15% !important;
  }
  .w-sm-20 {
    width: 20% !important;
  }
  .w-sm-30{
    width: 30% !important;
  }
  .w-sm-35{
    width: 35% !important;
  }
  .w-sm-40 {
    width: 40% !important;
  }
}