@import './base.css';

#app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

a,

.green {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}

legend {
  width: 100%;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

h1,h2 {
  color: black;
}
h3{
  color: red;
}

input {
  padding: 1mm;
  float: right;
}

.buttons {
  display: flex;
  margin: 5%;
  gap: 10%;
  justify-content: center;
}

span[role = alert]{
  color: red;
  font-size: smaller;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */